* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    /*considera a borda como tamaho total para não dar BO*/
}

body {
    background-color: #ffffff;
}

.content {
    width: 100vw;
    height: auto;
    padding: 1rem;
    background-color: #faf7ef88;
}

@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}